<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card relative z-5">
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2 cursor-pointer p-1 border-gray-300 shadow border-1 border-round" (click)="toggleUserMenu($event)">
        <p-avatar
          [label]="usuario.nome ? usuario.nome[0].toUpperCase() : '#'"
          shape="circle"/>

        <div class="flex-column gap-1">
          <span class="text-sm font-bold hidden md:block">{{ usuario.nome || 'Carregando...' }}</span>
          <span class="text-sm font-bold hidden md:block">{{ usuario.email || 'Carregando...' }}</span>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>

<p-menu #userMenu [model]="userMenuItems" [popup]="true" [baseZIndex]="10000"></p-menu>
