<nav class="shadow w-full">
  <div class="flex gap-3 justify-content-between p-menu p-menu-vertical p-menu-list list-none w-full p-2">
    <div class="flex gap-3">
      <p-button raised [routerLink]="['/']" label="Home" class="p-button-text"></p-button>
      <p-button raised [routerLink]="['/local']" label="Local" class="p-button-text"></p-button>
    </div>
    <p-button [outlined]="true" raised routerLink="/login" label="Realize seu Login ou Cadastre-se" class="p-button-text"></p-button>
  </div>
</nav>
<router-outlet></router-outlet>
