<p-confirmDialog/>
<p-toast></p-toast>

<main class="shadow-1 border-round-md my-5 p-3">

  <div class="flex justify-content-between align-items-center gap-2">
    <h1 class="text-xl">Lista de Locais</h1>

    <p-button
      type="button"
      label="Novo Local"
      icon="pi pi-plus"
      severity="success"
      (click)="route.navigateByUrl('/local/novo')"
    />
  </div>

  <div class="card">
    <p-table
      [value]="locais"
      [paginator]="true"
      [rows]="10"
      [pageLinks]="3"
      [globalFilterFields]="['nome']"
      [rowsPerPageOptions]="[5, 10, 20]"
      [paginatorPosition]="'bottom'"
      styleClass="p-datatable-striped p-datatable-gridlines"
      [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th class="w-1">Nome</th>
          <th class="w-1">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-local>
        <tr>
          <td>{{ local.nome }}</td>

          <td class="flex justify-content-center align-items-center gap-2">
            <p-button
              type="button"
              label="Editar"
              icon="pi pi-pencil"
              (click)="editar(local)"
            />

            <p-button
              type="button"
              label="Excluir"
              severity="danger"
              icon="pi pi-trash"
              (click)="excluir(local)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
