<main class="flex flex-column justify-content-center align-items-center">
  <div class="mt-3">
    <p-toolbar class="w-full p-0">
      <div class=" p-toolbar-group-right">
        <p>Métricas</p>
      </div>
    </p-toolbar>

    <div class="mt-3 flex justify-content-around flex-wrap gap-3">
      <!-- Total Locais -->
      <div
        class="text-center surface-card border-2   border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-map-marker text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Total Locais</p>
          <p class="m-0 text-3xl font-semibold">{{ qtdLocal }}</p>
        </div>
      </div>

      <!-- Total Medições -->
      <div
        class="text-center surface-card border-2  border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-chart-line text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Total Medições</p>
          <p class="m-0 text-3xl font-semibold">{{ qtdMedicao }}</p>
        </div>
      </div>

      <!-- Média Interferência -->
      <div
        class="text-center surface-card border-2  border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-exclamation-circle text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Média Interferência</p>
          <p class="m-0 text-3xl font-semibold">{{ mediaInterferencia }}</p>
        </div>
      </div>

      <!-- Média Velocidade 2GHz -->
      <div
        class="text-center surface-card border-2  border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-wifi text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Média Velocidade 2GHz</p>
          <p class="m-0 text-3xl font-semibold">{{ mediaVelocidade2ghz }}</p>
        </div>
      </div>

      <!-- Média Velocidade 5GHz -->
      <div
        class="text-center surface-card border-2  border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-wifi text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Média Velocidade 5GHz</p>
          <p class="m-0 text-3xl font-semibold">{{ mediaVelocidade5ghz }}</p>
        </div>
      </div>

      <!-- Média Nível de Sinal 2GHz -->
      <div
        class="text-center surface-card border-2  border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-globe text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Média Nível de Sinal 2GHz</p>
          <p class="m-0 text-3xl font-semibold">{{ mediaNivelSinal2ghz }}</p>
        </div>
      </div>

      <!-- Média Nível de Sinal 5GHz -->
      <div
        class="text-center surface-card border-2  border-100 border-round p-2 w-14rem flex flex-column justify-content-center align-content-center">
        <div class="flex align-items-center justify-content-center mb-3">
          <i class="pi pi-globe text-primary text-4xl"></i>
        </div>
        <div>
          <p class="m-0 text-base font-bold">Média Nível de Sinal 5GHz</p>
          <p class="m-0 text-3xl font-semibold">{{ mediaNivelSinal5ghz }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-3 w-full">
    <p-toolbar class="w-full p-0">
      <div class=" p-toolbar-group-right">
        <p>Dashboards Informativos</p>
      </div>
    </p-toolbar>

    <div class="w-full gap-3 mt-3 flex flex-wrap">
      <div style="width: 49.5%" class="surface-card border-2 p-2 border-100 border-round shadow">
        <h3>Velocidade (5GHz)</h3>
        <p-chart
          type="line"
          [data]="chartDataVelocidade5ghz"
          [options]="chartOptions">
        </p-chart>
      </div>

      <div style="width: 49.5%" class="surface-card border-2 p-2 border-100 border-round shadow">
        <h3>Velocidade (2.4GHz)</h3>
        <p-chart
          type="line"
          [data]="chartDataVelocidade24ghz"
          [options]="chartOptions">
        </p-chart>
      </div>
    </div>

    <div class="w-full mt-3 gap-3 flex flex-wrap">
      <div style="width: 49.5%" class="surface-card border-2 p-2 border-100 border-round shadow">
        <h3>Nível de Sinal (5GHz)</h3>
        <p-chart
          type="line"
          [data]="chartDataNivelSinal5ghz"
          [options]="chartOptions">
        </p-chart>
      </div>

      <div style="width: 49.5%" class="surface-card border-2 p-2 border-100 border-round shadow">
        <h3>Interferência</h3>
        <p-chart
          type="line"
          [data]="chartDataInterferencia"
          [options]="chartOptions">
        </p-chart>
      </div>
    </div>
  </div>

</main>
